## Exercise 4.7 - Deriving New Variables

In [13]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [14]:
# assign path of dataset to the variable 'path'

path=r'C:\Users\19452\Desktop\Seema\Careerfoundry-Data Analytics Course\Work Area\Python Fundamentals\Nov-2023 Instacart Basket Analysis\02 Data\Prepared Data'


# import ords_prods_merge.pkl dataframe from prepared folder

df_ords_prods_merge=pd.read_pickle(os.path.join(path,'ords_prods_merge.pkl'))

In [15]:
# check the count of rows and columns

df_ords_prods_merge.shape

(32641279, 18)

In [16]:
# Drop the unwanted columns 'Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y','_merge'

df_ords_prods_merge=df_ords_prods_merge.drop(columns=['Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y','_merge'])

In [17]:
df_ords_prods_merge.shape

(32641279, 14)

In [18]:
df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge_flag
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32641274,NaN,NaN,NaN,NaN,NaN,NaN,37703.0,NaN,NaN,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,right_only
32641275,NaN,NaN,NaN,NaN,NaN,NaN,43725.0,NaN,NaN,Sweetart Jelly Beans,100.0,21.0,8.1,right_only
32641276,NaN,NaN,NaN,NaN,NaN,NaN,45971.0,NaN,NaN,12 Inch Taper Candle White,101.0,17.0,9.8,right_only
32641277,NaN,NaN,NaN,NaN,NaN,NaN,46625.0,NaN,NaN,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,right_only
32641278,NaN,NaN,NaN,NaN,NaN,NaN,49540.0,NaN,NaN,Pure Squeezed Lemonade,31.0,7.0,9.1,right_only

In [20]:
# Export dataframe after dropping unwanted columns in pickle file format to Prepared Data folder

df_ords_prods_merge.to_pickle(os.path.join(path,'ords_prods_merge.pkl'))

In [ ]:
# Define function 

def add_num(x,y):
    sum=x+y
    return sum

In [ ]:
# Run function

add_num(5,10)

In [ ]:
# use of sum() function

add=[4,5,6]
Sum=sum(add)
print (Sum)